body{
   background-color: #EEEEEE;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 1140px !important;
    height: 100vh;
}
h1,h3{
    letter-spacing: 2px;
    color: #C4DFDF;
}
.to-do{
    width: 80%;
    border-radius: 10px;
    background-color: #384152;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}


.form-control,
.btn{
    box-shadow: none !important;
}
.form-control{
    color: #fff;
    background-color: #202938;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.user-input .btn{
    padding: 0px 20px;
    font-weight: 600;
    background-color: #C4DFDF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#items li{
    color: #fff;
    border-radius: 25px;
    margin-bottom: 14px;
    word-break: break-all;
    background-color: #202938;
}
#items li:nth-of-type(odd){
    color: #C4DFDF;
    background-color: #202938;
}
#items li:nth-of-type(even){
    color: #202938;
    background-color: #C4DFDF;
}
#items .btn
{
    font-size: 14px !important;
}
.txtspan{
    /* width: 70%; */
    flex: 1 !important;
}

@media (max-width:1199px){
    .container{
        max-width: 80% ;
    }
  
}
@media (max-width:767px){
    .container{
        max-width: 100%;
    }
}
@media (max-width:575px){
    .to-do{
        width: 100%;
    }
    .user-input .btn{
        padding: 0px 10px;
    }
    .user-input .input-group .form-control,
    .user-input .input-group .btn,
    #items li,
    #items .btn
    {
        font-size: 12px !important;
    }
    #items .list-group-item{
        padding: 0.5rem !important;
    }
}
